/* Lang */

/* montserrat-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat Reg';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Montserrat/montserrat-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat Latin500';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Montserrat/montserrat-v26-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat Latin600';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/Montserrat/montserrat-v26-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat Latin700';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Montserrat/montserrat-v26-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat Latin900';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/Montserrat/montserrat-v26-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Pre settings */
*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat Reg', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.container {
    display: block;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.fixed {
    position: fixed;
    width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style-type: none;
}

.button {
    max-width: 225px;
    width: 100%;
    height: 52px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    border: 1px solid var(--button-color);
    color: var(--button-color);
    background: none;
    cursor: pointer;
}

:root {
    --bg-color: rgba(214, 244, 241, 1);
    --bg-color-liner: linear-gradient(270deg, #D6F4F1 0.08%, rgba(214, 244, 241, 0.00) 99.91%);
    --bg-color2: rgba(243, 245, 251, 1);
    --bg-color-liner-fon: rgba(33, 37, 41, 0.54);
    --bg-checkbox-color: rgba(235, 243, 255, 1);
    --main-color: #4D63D9;
    --button-color: #4D63D9;
    --text-color-white: white;
    --text-color-white-opacity: rgba(255, 255, 255, 0.34);
    --text-color-black: #000000;
    --text-color-gray: #808285;
    --bg-color-modal: linear-gradient(180deg, #4D63D9 42.89%, #FF6DCE 99.94%);
    --overlay-color-modal: rgba(0, 0, 0, 0.58);
    --libraries-color-one: linear-gradient(144deg, #3BC3E1 1.68%, #1C32FF 34.18%, #FF6DCE 78.49%);
    --libraries-color-two: rgba(250, 255, 1, 1), rgba(254, 0, 122, 1), rgba(255, 72, 72, 1);
    --libraries-color-three: linear-gradient(153deg, rgba(59, 195, 225, 0.68) 14.52%, rgba(1, 88, 219, 0.69) 36.04%, rgba(247, 82, 142, 0.67) 79.09%);
    --libraries-color-four: linear-gradient(136deg, #3BC3E1 14.76%, #1C32FF 43.7%, #FF6DCE 85.29%);
}

/* Header */
header {
    padding: 19px 0;
    width: 100%;
    display: block;
    font-family: 'Montserrat Reg', sans-serif;
    background-color: var(--bg-color);
    transition: background-color 0.3s ease;
    z-index: 999;
}

.header__top.white-bg {
    transition: all 0.5s ease-in-out;
    background-color: #fff; /* Цвет фона при скролле */
}

.header__top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__top-box {
    display: flex;
}

.header__top-box li:not(:last-child) {
    margin-right: 24px;
}

.header__top-link {
    transition: 0.3s ease-in-out;
    border-bottom: 2px solid rgba(214, 244, 241, 0);
    color: var(--text-color-black);
}

.header__top-item:nth-child(3) {
    display: flex;
}

.header__top-link .open__content {
    margin-left: 5px;
    transform: rotate(270deg);
}

.header__top-link:hover {
    border-bottom: 2px solid var(--button-color);
}

/* dropdown nav*/
.header__top-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.header__top-item-with-submenu {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: -245px;
    list-style-type: none;
    padding: 15px;
    background-color: #fff; /* Цвет фона подменю, при необходимости измените */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Добавление тени для стиля */
    border-radius: 17px;
    z-index: 1000;
}

.submenu li {
    padding: 10px;
}

.submenu li a {
    color: black;
}

.submenu ul {
    width: 331px;
}

.submenu li a:hover {
    color: var(--button-color);
}

.submenu li:last-child {
    border-bottom: none; /* Убираем разделительную линию у последнего пункта */
}

.header__top-link:hover + .submenu,
.submenu:hover {
    display: flex;
}


/*modal wrap*/

.modal__wrap {
    display: none;
}

.modal__wrap:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 1000;
}

.modal__body {
    position: fixed;
    top: 5%;
    bottom: 10%;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    height: 550px;
    background: #fff;
    z-index: 1000;
    opacity: 1;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.modal__body h2{
    text-align: center;
}

/*modal wrap end*/

/* Modal */

.popup-fade {
    display: none;
}

.popup-fade:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 1000;
}

.popup {
    position: fixed;
    top: 10%;
    left: 45%;
    padding: 20px;
    width: 557px;
    height: 752px;
    margin-left: -200px;
    background: #fff;
    border-radius: 19px;
    z-index: 1000;
    opacity: 1;
}

.popup h2 {
    text-align: center;
    margin-bottom: 63px;
    margin-top: 38px;
}

.popup p {
    text-align: center;
    width: 428px;
    margin: 0 auto 11px;
}

#nameCall, #emailCall {
    width: 463px;
    height: 51px;
    border-radius: 19px;
    background: #EFF0F5;
    padding: 15px 0 15px 19px;
    font-size: 18px;
    border: none;
    margin: 0 auto 14px;
}

#nameCall:focus, #textCall:focus, #emailCall:focus {
    outline: none;
}

#textCall {
    width: 463px;
    height: 157px;
    border-radius: 19px;
    background: #EFF0F5;
    padding: 15px 0 15px 19px;
    font-size: 18px;
    border: none;
    margin: 0 auto 14px;
}

.form__call {
    display: flex;
    flex-direction: column;
}

.form__call .button {
    margin: 65px auto 0;
    border-radius: 11px;
    background: #4D63D9;
    color: var(--text-color-white);
}

.form__call .personal-data {
    padding: 0 38px;
    margin-top: 22px;
}

.form__call p {
    color: #5E5E5E;
}

.form__call a {
    color: #4D63D9;
}

.popup-close {
    position: absolute;
    top: 22px;
    right: 33px;
    opacity: 0.5;
    transition: 0.3s ease-in-out;
}

.popup-close:hover {
    opacity: 1;
}

/* Buttons top header */
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: var(--text-color-white-opacity);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}
/* Animation */
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Burger menu */

/* Main */
.main__home-wrapper{
    background-color: var(--bg-color);
    padding-bottom: 182px;
}

.main__home-content {
    display: flex;
    justify-content: space-between;
    height: 697px;
    padding-top: 94px;
}

.pic__home {
    border-radius: 70px 0 70px 70px;
    margin-top: 89px;
    max-width: 452px;
    width: 100%;
    max-height: 627px;
    height: 100%;
    background-color: #FAE36D;
    z-index: 998;
}

.main__content-img {
    position: relative;
    max-width: 484px;
    height: 697px;
    bottom: 94px;
    left: -21px;
}

.main__content-p {
    font-family: 'Montserrat Reg', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 18px;
    max-width: 340px;
    width: 100%;
}

.main__content-p-2 {
    font-family: 'Montserrat Reg', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 18px;
    max-width: 569px;
    width: 100%; /*width надо писать max-width и width 100%*/
    /*height не надо указывать*/
}

.main__info-block h1 {
    font-family: 'Montserrat Reg', sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 42px;
    height: 126px;
    width: 454px;
}

.main__info-block {
    width: 569px;
    height: 404px;
    margin-top: 152px;
    margin-bottom: 141px;
}


.main__info-btn {
    width: 454px;
    height: 52px;
    margin-top: 80px;
    display: flex;
}

.main__info-btn .button:not(:last-child) {
    margin-right: 17px;
}

.main__info-btn button:first-child {
    background-color: var(--button-color);
    color: var(--text-color-white);
}

/* section about home */

.about__home-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.services__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about__home-wrapper h2 {
    text-align: center;
    margin-top: 69px;
    margin-bottom: 10px;
}

.about__home-wrapper p {
    width: 786px;
    display: flex;
    text-align: center;
    margin: 0 auto 28px;
}

.services__block {
    margin-top: 28px;
}

.services__block-item {
    width: 367px;
    padding: 20px;
    border: 1px solid #C7C7C7;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin-bottom: 48px;
    transition: 0.6s ease-in-out;
}

.services__block-item img {
    width: 121px;
    margin: 0 auto 24px;
}

.services__block-item h3 {
    margin-bottom: 10px;
}

.services__block-item p {
    margin-bottom: 31px;
}

.services__block-item:hover {
    box-shadow: 0px 2px 30.4px 15px rgba(0, 0, 0, 0.25);
}

/* pluses__block */

.pluses__block {
    background: var(--bg-color-liner);
    padding: 25px 123px;
}

.pluses__block-first {
    display: flex;
    justify-content: space-between;
}

.first-pic {
    background-color: #9BEEE6;
    width: 500px;
    height: 454px;
    margin-top: 100px;
    border-radius: 50px;
}

.first-pic img {
    transform: translate(-71px,-87px);
}
.first-pic {
    margin-right: 45px;
}

.second-pic {
    background-color: #FFCCDB;
    min-width: 510px;
    max-width: 565px;
    height: 430px;
    margin-top: 100px;
    border-radius: 50px;
    margin-left: 45px;
}

.third-pic {
    background: #FFCEAB;
    min-width: 510px;
    max-width: 565px;
    height: 430px;
    margin-top: 100px;
    border-radius: 50px;
    margin-right: 45px;
}

.third-pic img {
    transform: translate(41px,-63px);
    width: 430px;
}

.second-pic img {
    transform: translate(29px,-93px);
    width: 456px;
}

.pluses__block-title p:first-child {
    margin-top: 193px;
    color: #4D63D9;
}
.pluses__block-title {
    text-align: left;
}

.pluses__block-title h2 {
    margin-top: 3%;
    margin-bottom: 7%;
}

.pluses__block-title button {
    margin-top: 10%;
}

.pluses__block-title p{
    color: var(--text-color-gray);
}

.services__block-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services__block-title p:first-child {
    margin-top: 5%;
}

.services-title {
    width: 50%;
}
.services-title p {
    color: var(--main-color);
}

.services-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.services-title img{
    margin-right: 7px;
}

.btn-title button:first-child{
    background-color: var(--button-color);
    color: var(--text-color-white);
}


.btn-services button:first-child {
    background-color: var(--button-color);
    color: var(--text-color-white);
    margin-top: 5%;
}

/*connection block*/


.connection__title {
    text-align: center;   
    max-width: 627px;
    width: 100%;
}  

.connection__title p {
    color: var(--text-color-gray);
    margin-top: 3%;
}

.connection__form {
    margin-top: 100px;
    max-width: 627px;
    width: 100%;
}

.form__text {
    display: flex;
    margin: 10% auto;
    justify-content: center;
}
.form__text input{
    position: relative;
    width: 300px;
    height: 50px;
    border: solid 1px var(--button-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 2%;
    outline: var(--button-color);
}



.form__text button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 50px;
    background-color: var(--button-color);
    color: var(--text-color-white);
}

.personal-data {
    display: flex;
    margin-top: 5%;
    justify-content: center
}

.personal-data input {
    margin-right: 2%;
    width: 3%;
}

.personal-data a {
    cursor: pointer;
    color: var(--button-color);
}

.personal-data p {
    margin-top: 0;
}

/* footer */

.footer__home {
    background-color: var(--bg-color2);
    padding: 60px 0;
    margin-top: 71px;
}

.footer__about {
    margin-top: 0 !important;
}

.footer__home-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.footer__home-block h2 {
    font-size: 16px;
    margin-bottom: 15px;
}

.footer__home-block a {
    color: black;
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}

.footer__home-block a:hover {
    opacity: 1;
}

.footer__home-block:first-child {
    width: 209px;
}

.footer__home-block:first-child img{
    margin-bottom: 25px;
}

.footer__home-block:first-child p{
    margin-bottom: 32px;
}

.footer__home-block:first-child .social a:not(:last-child){
    margin-right: 9px;
}

.footer__home-block:nth-child(2) {
    width: 90px;
}

.footer__home-block:nth-child(3),
.footer__home-block:nth-child(4),
.footer__home-block:nth-child(5) {
    width: 166px;
}

.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: var(--button-color);
    color: #FFFFFF;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    border-radius: 50%;
    z-index: 999;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s ease-in-out;
}

.scroll-to-top:hover {
    opacity: 1;
}

/*about page main*/

.main__about-img {
    padding-top: 10vmin;
    position: relative;
}

.about-company {
    position: absolute;
    color: white;
    text-align: center;
    left: 0;
    width: 100%;
    top: 50%;
}


.main__about-img img {
    width: 100%;
}

/*about services block*/
.services__info {
    width: 60%;
    position: relative;
    margin-top: 5%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.services__info p {
    margin-top: 2%;
    color: var(--text-color-gray);
}

.our__services-title {
    display: flex;
    margin-top: 75px;
    align-items: center;
    justify-content: space-between;
}

.our__services-info {
    text-align: left;
    width: 30%;
}

.our__services-info h2 {
    margin-bottom: 2%;
}

.our__services-info p {
    color: var(--text-color-gray);
}

.our__services-img {
    background-color: #ECF0FC;
    width: 367px;
    height: 421px;
    border-radius: 10%;
    margin-bottom: 5%;
}

.our__services-img img {
    transform: translate(-102px, 38px);
    max-width: 180%;
    height: auto;
    width: auto;
}

.our__services-btn{
    background-color: var(--button-color);
    color: var(--text-color-white);
    margin-top: 10%;
}

/*about pluses card*/

.about__our-pluses {
    background-color: #F3F5FB;
}

.about__pluses-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 38px 0 78px 0;
}

.about__pluses-blocks-wrap {
    display: flex;
    margin-bottom: 41px;
}

.about__pluses-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 118px;
}

.pluses_blocks-card {
    width: 269px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.pluses_blocks-card img {
    height: 90px;
    display: flex;
    margin: 0 auto 13px;
}

.pluses_blocks-card h2 {
    text-align: center;
    margin-top: 3%;
    font-size: 18px;
}

.pluses_blocks-card p {
    text-align: center;
    margin-top: 3%;
    color: var(--text-color-gray)
}

.pluses-title {
    width: 120%;   
}

.pluses-title p {
    color: var(--text-color-gray);
    margin-top: 5%;
}

.pluses-title-btn {
    background-color: var(--button-color);
    color: var(--text-color-white);
    margin-top: 35%;
}

/*about navigation block*/

.nav__main {
    margin-top: 5%;
    
}
.nav__main h2 {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.navigation__links {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    justify-content: space-between;
    margin-top: 3%;
}

.navigation__links a {
    color: var(--text-color-black);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}

.navigation__links a:hover {
    color: var(--main-color);
}

.about__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about__nav-cards {
    margin-top: 10%;
}

.nav__cards-row {
    display: flex;
    margin-bottom: 2%;
}

.nav__card-img {
    width: 40vmin;
    margin-right: 1%;
}

.nav__card-img img {
    width: 100%;
    height: 100%;
}

.nav-data {
    margin-bottom: 5%;
}


/*site wrap page*/
.title__wrap-text {
    text-align: center;
    width: 55%;
    margin: 0 auto;
}

.title__wrap-text h2 {
    margin-bottom: 12px;
}

.title__wrap-text p {
    color: var(--text-color-gray);
}

/*section wrap-portfolio*/

.wrap__portfolio-row {
    display: flex;
    flex-wrap: wrap;
}

.wrap__portfolio-main {
    display: flex;
    flex-wrap: wrap;
}

.wrap__portfolio-card {

}

.wrap__btn {
    margin: 76px 0;
}

/*wrap cards*/

.wrap__btn-more {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--text-color-gray);
    color: var(--text-color-gray);
}

.wrap__card-img img {
    transform: translate(48px, 50px);
    max-width: 180%;
    height: auto;
    width: auto;
}

.wrap__card-img {
    width: 363px;
    height: 421px;
}

.wrap__card-info {
    margin-left: 0;
    margin-right: 15%;
    text-align: left;
}

.wrap__card-pluses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10%;
}

.wrap__pluses-title {
    text-align: left;
}



/*services page*/

.services__home {
    margin-bottom: 10%;
}

.services__tools {
    background-color: #F3F5FB;
}

.title-wrap{
    padding-top: 35px;
    padding-bottom: 26px;
}



.tools__wrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    justify-content: space-between;
    padding-bottom: 8%;
    flex-wrap: wrap;
}

.tools-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px;
    height: 345px;
    min-width: 198px;
    max-width: 270px;
    margin-bottom: 15px;
    width: 100%;
    background-color: white;
    text-align: center;
    transition: ease-in-out 0.3s;
    border-bottom: 2px solid white;
    cursor: pointer;
}

.tools-card:hover {
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.25);
    border-bottom: 2px solid var(--button-color)
}

.tools-card img {
    height: 100px;
    margin: 0 auto 25px;
}

.tools-card h3 {
    margin-bottom: 8%;
}

.stack__title {
    text-align: center;
    margin-top: 5%;
    position: relative;
}

.stacks__wrapper{
    margin-left: auto;
    margin-right: auto;
}

.stacks__card-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
}

.stacks__card {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}


.stacks__card-row-2 {
    display: flex;
    align-items: center;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    justify-content: space-between;
}

.services__pluses-info {
    padding-bottom: 5%;
}

.services__pluses-title {
    text-align: center;
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
}

.services__pluses-nav {
    width: 85%;
}

.services__pluses-info {
    display: flex;
    margin-top: 5%;
}

.pluses__info-title {
    text-align: left;
    margin-left: 7%;
    margin-top: 5%;
}

.pluses__info-title h3 {
    margin-bottom: 5%;
    font-weight: 400;
}

.services__start-project {
    display: flex;
    justify-content: space-between;
    background-color: #F3F5FB;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left:10%;
    padding-right: 10%;
}

.start__project-title {
    width: 40%;
    margin-left: 10%;
}

.start__project-title h3 {
    padding-left: 3%;
}

.start__project-title p {
    color: var(--text-color-gray);
    padding-top: 3%;
}

.start__project-link {
    width: 40%;
    display: flex;
    align-items: center;
    margin-right: 10%;
}

.start__project-link button {
    margin: 0 auto;
    background-color: var(--button-color);
    color: var(--text-color-white);
}

.carousel {
    margin-bottom: 10%;
}

.carousel__title {
    text-align: left;
    width: 40%;
    padding: 5% 0 5% 0;
    margin-left: 15%;
}

.carousel__card {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.carousel__img img {
    max-width: 90%;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.carousel__button {
    display: flex;
    align-items: center;
    width: 80%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -16%;
}

.carousel__btn {
    background-color: #FFFFFF;
    height: 100%;
    border:none;
    border-radius: 10px;
    text-align: left;
    cursor: pointer;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    border-bottom: 1px solid white
}

.carousel__btn:hover {
    border-bottom: 1px solid var(--button-color);
}

.carousel__btn span {
    padding: 7% 17% 10% 5%;
    font-size: 18px;
    font-weight: 400;
}

.carousel__btn img {
    padding-right: 5%;
    margin-top: 25%;
}

.carousel__navigation-item a {
    width: 0.8rem;
    height: 0.8rem;
    background-color: white;
    background-clip: border-box;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 0;
    display: inline-block;
}

.carousel__navigation-list, .carousel__navigation-item {
    display: inline-block;
}

.carousel__navigation-list {
    justify-content: space-between;
    display: inline-flex;
    width: 6%;
}

.carousel__aside {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 2%;
}


/*sites under key*/

.sites__key-main {
    text-align: center;
    width: 75%;
}

.sites__key-main h2 {
    padding-top: 5%;
}

.sites__key-main p {
    padding-top: 5%;
    color: var(--text-color-gray);
}

.examples__site-card {
    width: 27%;
}
.examples__site-card-2 {
    width: 27%;
}
.examples__site-card-3 {
    width: 27%;
}

.examples__card a {
    transition: ease-in-out 0.6s;
}

.examples__card a:hover {
    color: var(--main-color);
    box-shadow: 0px 4px 6px 4px rgba(0, 0, 0, 0.25);
}

.examples__site-card a {
   width: 100%;
   height: 100%;
   padding-bottom: 60%;
   padding-top: 60%;
   display: inline-block;
   color: var(--text-color-white);
   background-image: url(../img/under_key/Rectangle\ 106.png);
   background-repeat: no-repeat;
   border-radius: 10px;
   font-size: 25px;
   font-weight: 800;
   background-size: contain;
}

.examples__site-card-2 a {
    width: 100%;
    height: 100%;
    padding-bottom: 60%;
    padding-top: 60%;
    display: inline-block;
    color: var(--text-color-white);
    background-image: url(../img/under_key/Rectangle\ 107.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 800;
    background-size: contain;
 }

 .examples__site-card-3 a {
    width: 100%;
    height: 100%;
    padding-bottom: 60%;
    padding-top: 60%;
    display: inline-block;
    color: var(--text-color-white);
    background-image: url(../img/under_key/Rectangle\ 108.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 800;
    background-size: contain;
 }


.examples__site-wrapper {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 10%;
}

.problem p {
    padding-top: 2%;
}

.problem h2 {
    padding-top: 10%;
}

.problems__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5%;
}
.problems__card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-top: 10%;
}

.problems__card {
    width: 30%;
    text-align: center     
}

.problems__card p {
    padding-top: 10%;
}

.problems__card span {
    width: 100%;
    display: inline-block;
    position: relative;
    top: 37%;
    color: white;
    font-family: Montserrat sans-serif;
    font-size: 50px;
}

.under__job {
    background-color: #EBF0FF;
    padding-bottom: 5%;
}

.job__card {
    background-color: #fff;
    margin-top: 5%;
    display: flex;
}

.job__card-img {
    width: 60%;
    padding-right: 3%;
    text-align: center;
    padding-bottom: 2%;
    margin-top: -2%;
}

.job__card-img span {
    display: inline-block;
    width: 100%;
    position: relative;
    top: 51%;
    font-size: 50px;
    padding-left: 10%;
    font-family: Montserrat sans-serif;
}

.job__card-title {
    text-align: left;
}

.job__card-title h2:first-child {
    text-align: left;
    padding-top: 6%;
    padding-bottom: 3%;
}

.job__card-title p {
    color: var(--text-color-gray);
    padding-bottom: 2%;
}

.job__wrapper {
    padding-top: 10%;
    width: 75%;
    margin: 0 auto;
}

.job__wrapper img {
    padding: 3% 0 3% 8%;
}

.job__wrapper h2 {
    text-align: center;
}

.bought__site {
    background-color: #EBF0FF;
    padding-bottom: 5%;
}

.bought__site-title {
    padding-top: 5%;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.bought__site-title h2 {
    padding-bottom: 8%;
}

.bought__site-title button {
    background-color: var(--button-color);
    color: var(--text-color-white);
    margin: 0 auto;
}

.under__points {
    text-align: center;
    padding-top: 3%;
    width: 80%;
    margin: 0 auto;
}

.points-title {
    padding-top: 5%;
}

.points-title p {
    padding-top: 1%;
}

.under__site-points {
    padding-bottom: 5%;
}

.under__stack {
    text-align: center;
}

.under__other {
    padding-top: 50px;
    padding-bottom: 69px;
}

.under__other h2 {
    text-align: center;
}

.under__other-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
    text-align: left;
}
.under__other-title {
    width: 49%;
    background-color: #F1F4FF;
    padding-top: 50px;
    margin-top: 3%;
    padding-left: 25px;
    padding-bottom: 26px;
}

.under__other-title button {
    margin-right: auto;
    margin-top: 5%;
    background-color: var(--button-color);
    color: var(--text-color-white);
    max-width: 30%;
    height: 56%;
    margin-bottom: 5%;
}

/*bitrix 1c page*/
/*page title*/
.bitrix__main-title{
    padding: 50px 50px 0 50px;
    text-align: center;
}

.bitrix__main-title img {
    width: 70px;
    height: 70px;
}

.bitrix__main-title h2 {
    padding: 30px;
}

.bitrix__main-title p {
    color: var(--text-color-gray);
    padding-bottom: 15px;
}

.bitrix__main-img {
    text-align: center;
    padding: 25px;
}

.bitrix__main-img h2 {
    padding: 70px 0 30px 0;
}

.bitrix__main-img button {
    margin: 0 auto;
    background-color: var(--button-color);
    color: var(--text-color-white);
}

.media__solutions-img {
    text-align: center;
    padding-bottom: 19px;
}

.media__solutions {
    background-color: #F1F4FF;
    padding-bottom: 98px;
    padding-top: 36px;
    padding-left: 30px;
    padding-right: 30px;
}

.media__solutions-cards h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.solutions__card {
    display: flex;
    background-color: #fff;
    margin-top: 30px;
}

.solutions__title {
    text-align: left;
}

.solutions__card-img {
    padding: 32px 47px 32px 24px;
}

.solutions__title {
    padding: 32px 47px 32px 24px;
}

.solutions__title p {
    padding-top: 40px;
    color: var(--text-color-gray);
}

.media__solutions-cards button {
    margin: 0 auto;
    background-color: var(--button-color);
    color: var(--text-color-white);
}

.bitrix__pluses-title {
    text-align: center;
}

.bitrix__pluses-title h2 {
    padding-top: 24px;
}

.bitrix__pluses {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 69px;
    padding-bottom: 140px;
}

.bitrix__cards {
    background-color: #F1F4FF;
}

.bitrix__cards-back {
    background-color: #fff;
    padding-top: 30px;
}

.bitrix__cards-wrapper {
    padding: 55px 97px 55px 97px;
    box-shadow: 0px 4px 11px 1px rgba(0, 0, 0, 0.5);
}

.bitrix__card-plus {
    display: flex;
    margin-top: 35px;
}

.card__plus-img {
    padding: 46px 24px 46px 30px;
}

.card__plus-title {
    padding-top: 37px;
    padding-bottom: 12px;
}

.card__plus-title p {
    color: var(--text-color-gray);
}

.bitrix__integration h2 {
    text-align: center;
}

.bitrix__integration {
    padding-left: 30px;
    padding-right: 30px;
}

.integration__title {
    text-align: center;
    max-width: 1059px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 69px;
}

.integration__title p {
    color: var(--text-color-gray);
}

.integration__cost {
    display: flex;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 19px;
}

.cost__card {
    padding: 35px 19px 5px 19px;
}

.cost__card button {
    background-color: var(--button-color);
    color: var(--text-color-white);
    margin: 0 auto;
}

.cost__card p {
    color: var(--text-color-gray);
    padding-bottom: 20px;
    padding-top: 20px;
}

.cost__card h3 {
    padding-top: 22px;
}

.integration__izhevsk-title {
    max-width: 664px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.integration__izhevsk-title button {
    background-color: var(--button-color);
    color: var(--text-color-white);
    margin: 0 auto;
}

.integration__izhevsk-title h3 {
    padding-top: 20px;
    padding-bottom: 20px;
}


/*bitrix24crm*/
/*main*/
.bitrix24 {
    padding: 0 30px 50px 30px;
}

.bitrix24 p {
    color: var(--text-color-gray);
}

.bitrix24__main {
    max-width: 1013px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
}

.bitrix24__main p {
    padding-top: 30px;
}

/*bitrix section specialist*/
.bitrix__spec {
    background-color: #F1F4FF;
    padding: 30px 0 30px 0;
    margin-top: 30px;
}

.bitrix__spec h3 {
    text-align: center;
}

.spec__list {
    display: flex;
    padding: 0 30px 0 30px;
}

.spec__list-row-1{
    padding-right: 25px;
}
.spec__list-row-2{
    padding-left: 25px;
}

.spec__list-info {
    display: flex;
    padding: 20px 0 20px 0;
}

.spec__img {
    padding: 10px 0 10px 0;
}

.spec__title p:first-child{
    padding: 10px 0 10px 0;
    color: var(--text-color-black);
}

.bitrix__work-time {
    padding: 100px 30px 0 30px;
}
.bitrix__work-time p {
    color: var(--text-color-gray);
}

.work__time-img {
    max-width: 1107px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 19px;
}
.work__time-img img {
    width: 100%;
}

.work__time-title p {
    color: var(--text-color-black);
}